*{
    box-sizing: border-box;
    font-family: 'Caveat', cursive;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    background-image: url('img/background.jpg');
    background-size: cover;
    height: 100vh;
}

canvas {
    background-color: black;
    z-index: 1;
    display: block;
    border-radius: 20px;
    
}

h1 {
    position: absolute;
    bottom: 80%;
    font-size: 50px;
}

.fullscreen {
    height: 100% !important;
    width: 100% !important;
}

.d-none {
    display: none !important;
}

#fullscreen {
    display: flex;
    justify-content: center;
    position: relative;
    width: 720px;
    height: 480px;
}

#main-container {
    position: absolute;
    
    z-index: 2;
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;  
}

.ingameOptions img {
    height: 24px;
}

.ingameOptions img:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.ingameOptions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-top: 10px;
    padding-right: 10px;
    z-index: 5;
}

.gamerules-container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    overflow: auto;
}

.gamerules {
    width: 80%;
    height: 350px;
    background-color: #f7c065;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
}

.gamerules div {
    width: 30%;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    font-weight: 700;
}

.gamerules img {
    height: 24px;
}

.gamerules span {
    width: 90%;
    text-align: center;
    font-weight: 700;
}

.header {
    text-decoration: underline;
    font-size: 24px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.close:hover {
    cursor: pointer;
    transform: scale(1.15);
}

#startScreen {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 6;
}

#startScreen img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#startButton, #restartButton {
    position: absolute;
    left: calc(50% - 75px);
    top: 10%;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: #f8bd5f;
    font-weight: 700;
    font-size: 20px;
    z-index: 7;
}

#startButton:hover, #restartButton:hover {
    cursor: pointer;
    transform: scale(1.15);
}

#gamePanels {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    padding: 10px;
    display: none;
}

#gamePanels div{
    display: flex;
    gap: 20px;
}

#gamePanels button {
    border-radius: 100%;
    background-color: #f8bd5f;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid black;
}

#gamePanels button img {
    padding: 5px;
    height: 40px;
}

/*  Smartphone  */

@media only screen and (max-width: 720px) {
    #fullscreen {
        width: 100%;
        height: calc(100vw / 1.5);
    }

    canvas {
        width: 100%;
    }

    #main-container {
        width: 100%;
        height: calc(100vw / 1.5);
    }

    .gamerules {
        height: fit-content;
    }
}

@media only screen and (max-height: 710px) {
    h1 {
        display: none;
    }

    .gamerules {
        height: fit-content;
    }
}

@media only screen and (max-height: 480px) {
    #fullscreen {
        height: 100vh;
        width: calc(100vh * 1.5);
    }

    canvas {
        height: 100vh;
    }

    h1 {
        display: none;
    }

    #main-container {
        height: 100%;
        width: calc(100vh * 1.5);
    }

    .gamerules {
        height: fit-content;
    }
}

@media only screen and (max-width: 720px) and (max-height: 480px) {
    #gamePanels {
        display: flex;
    }

    #fullscreen {
        height: 100%;
        width: 100%;
    }

    #main-container {
        height: 100%;
        width: 100%;
    }

    canvas {
        border-radius: 0;
    }

    .gamerules {
        height: fit-content;
    }
}